pyjwt
flask_swagger_ui
flask_swagger
flask_restful
Flask

# utiliser postman pour tester l'api

# source flask-env/bin/activate pour lancer l'environnement virtuel
# ou . flask-env/bin/activate

# lancer avec : python3 api.py

#docker-compose up -d